%h2
  Recommendations for user
  = @user
%p
  %ol
    - @items.each do |item|
      %li= item
%p
  %a(href="/") Enter another

%h3 Diagostics
%p
  %table
    %tr
      %td user
      %td list
      %td similarity
    - @recommendations.each do |user, lst, sim|
      %tr
        %td= user
        %td= lst
        %td= sim
